.c-mainvisual__item.slick-slide {
	max-height: 700px ;
}

/*=======P-HOME1===========*/
.p-home1{
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
}
.slick-pickup{
	padding-bottom: 98px;
	.slick-prev, .slick-next {
	    background-color: #2A2A29;
	    z-index: 1;
	    width: 70px;
	    height: 70px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    top: 35%;
	    opacity: 0.8;
	    i{
	    	color: #FBB700;
	    	font-size: 30px;
	    }
	}
	.slick-prev{
		left: 50px;
	}
	.slick-next {
		right: 50px;
	}
	.slick-next:before {
	    display: none;
	}    
	.slick-prev:before {
	    display: none;
	} 

	.slick-dots {
	    bottom: 50px;
	    li{
	    	height: 15px;
	    	width: 15px;
	    }
	    li button:before{
	    	color: #fff;
	    	width: 12px;
	    	height: 12px;
	    	line-height: 13px;
	    	font-size: 30px;
	    	color: #fff;
	    	opacity: 1;
	    }
	    .slick-active {
	        border: 1px solid #000;
	        border-radius: 100%;
	        button:before{
	        		color: #000;
	        }
	    }
	}
}
/*=======End- P-HOME1===========*/
.slick-slide{
	img{
		&.mobile--only{
			display: none;
		 
		 }
		&.mobile--onlyicon{
			display: none;
		 
		 }
	}
	
}
@media screen and (max-width: 767px)  { 
/*=======P-HOME1===========*/
.slick-pickup .slick-prev ,.slick-pickup  .slick-next{
    display: none !important;
}
.slick-pickup {
    padding-bottom: 75px;
    .slick-dots {
        bottom: 40px;
        li {
            height: 10px;
            width: 10px;
            button:before {
                color: #fff;
                width: 8px;
                height: 8px;
                font-size: 15px;
                line-height: 8px;
            }
        }
    }
}
.slick-dots li button {
    height: 10px;
    width: 10px;
}

/*=======End-P-HOME1===========*/
	.slick-slide{
		img{
			&.mobile--only{
				display: block;
			 
			 }
			&.mobile--onlyicon{
				display: block;
			 
			 }
		}
		
	}
}