@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
*:before, *:after, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

.font-notosansreg, .footer-copyright {
  font-weight: 400;
}

.font-notosansbol, .c-gnav a, .c-sitemap__btnlink, .c-readmore-section a, .c-title-section .main-title p {
  font-weight: 700;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.js-backtotop {
  position: fixed;
  right: 40px;
  bottom: 270px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 44px;
  color: #00ADA0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.js-backtotop .fa {
  font-size: 40px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.c-header__logo img {
  max-width: 292px;
}

.c-header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  background-color: #fff;
}

.c-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-header__top > * {
  color: #fff;
  font-size: 1.4rem;
}

.c-header__top img {
  margin-left: 10px;
}

.c-gnav ul {
  font-size: 0;
}

.c-gnav li {
  display: inline-block;
  vertical-align: middle;
}

.c-gnav li.sp-only {
  display: none;
}

.c-gnav a {
  height: 100%;
  font-size: 1.6rem;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 90px;
}

.c-gnav .u-bckgreen a {
  padding-left: 39.5px;
  padding-right: 39.5px;
}

/* Main menu
------------------------------------------------------------*/
/*=====================MENU=============================*/
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    padding-top: 15px;
    cursor: pointer;
    position: relative;
    border-bottom: solid 1px transparent;
    outline: none;
    display: none;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  .navbar-toggle .icon-bar {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: auto;
  }
  .navbar-toggle .icon-bar:nth-child(3) {
    margin-bottom: 8px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
  }
  .c-gnav li {
    display: block;
    float: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .c-header__top {
    display: none;
  }
  .c-header__logo {
    padding: 0 5px;
  }
  .c-header__mail {
    background-color: #00ADA0;
    height: 100%;
    padding: 14px 1px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    min-width: 65px;
  }
  .c-header__mail img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
  }
  .c-header__logo img {
    max-width: 180px;
  }
  .c-header__main {
    font-size: 0;
    height: 70px;
    padding: 0;
    margin: 0;
  }
  .c-header__main > * {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .c-header.open .c-gnav {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .c-gnav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: block;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    background-color: #00ADA0;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-top: 70px;
  }
  .c-gnav li a {
    color: #fff;
    line-height: 25px;
    padding: 0;
  }
  .c-gnav__hotline {
    font-size: 3rem;
    color: #fff;
    padding-top: 25px;
    border-top: 0.5px solid #DBEEEC;
    border-bottom: 0.5px solid #DBEEEC;
    padding-bottom: 25px;
    margin-top: 26px;
    margin-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .c-gnav .c-gnav__requests {
    border: 0.5px solid #fff;
    font-size: 1.6rem;
    line-height: 25px;
    padding: 4px 16px;
    font-weight: 700;
    display: block;
    color: #fff;
    margin-bottom: 22px;
  }
  .c-gnav__bottom {
    padding-left: 16px;
    padding-right: 16px;
  }
  .c-gnav__tel {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8rem;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .c-gnav__tel span {
    font-size: 3rem;
  }
  .c-gnav__timeWork {
    text-align: center;
    background-color: #fff;
    color: #00ADA0;
    line-height: 24px;
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .navbar-toggle {
    display: inline-block;
    border-color: #000;
    margin: 0;
    z-index: 1;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .navbar-toggle.open .icon-bar:nth-child(1) {
    -webkit-transform: translate(-1px, 13px) rotate(-225deg);
            transform: translate(-1px, 13px) rotate(-225deg);
  }
  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: translate(-1px, -7px) rotate(225deg);
            transform: translate(-1px, -7px) rotate(225deg);
  }
  .c-header.open .navbar-toggle {
    background-color: #00ADA0;
    border: none;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer__top {
  padding: 6px 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.c-footer__main {
  background-color: #00ADA0;
}

.c-footer .c-listSitemap {
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer .logoft {
  margin-bottom: 18px;
}

.c-sitemap {
  color: #fff;
}

.c-sitemap:nth-child(1) {
  width: 420px;
  border-right: 1px solid #80D6D0;
  padding-right: 12px;
}

.c-sitemap:nth-child(1) p {
  margin-bottom: 9px;
  display: block;
  font-size: 1.4rem;
}

.c-sitemap:nth-child(2) {
  width: 440px;
  padding-left: 12px;
}

.c-sitemap:nth-child(2) p {
  font-size: 1.3rem;
}

.c-sitemap:nth-child(3) {
  font-size: 1.4rem;
  padding-bottom: 23px;
}

.c-sitemap:nth-child(3) p + p {
  margin-top: 18px;
}

.c-sitemap__block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-sitemap__block a {
  color: #fff;
}

.c-sitemap__tel {
  font-size: 2.6rem;
  margin-bottom: 8px;
}

.c-sitemap__tel span {
  font-size: 4.1rem;
}

.c-sitemap__btnlink {
  line-height: 50px;
  background-repeat: no-repeat;
  width: 300px;
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
}

.c-sitemap__btnlink a {
  font-size: 1.4rem;
}

.c-sitemap .c-sitemap__btnlink:nth-child(1) {
  border-left: 4px solid #fff;
}

.c-sitemap__timeWork {
  text-align: center;
  background-color: #fff;
  color: #00ADA0;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
  padding-left: 47px;
  padding-right: 47px;
}

.c-sitemap__timeWork span {
  font-size: 1.4rem;
  margin-left: 5px;
}

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 21px;
  text-align: center;
  font-size: 1.3rem;
  background-color: #33BDB3;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  /*=============================================FOOTER=======*/
  .logoft {
    margin-bottom: 23px;
  }
  .c-sitemap__block {
    padding: 0;
    margin: 0;
  }
  .c-sitemap:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 25px;
    padding-top: 37px;
  }
  .c-sitemap:nth-child(1) p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 4px;
  }
  .c-sitemap:nth-child(1) p.font-notosansbol, .c-sitemap:nth-child(1) p.c-sitemap__btnlink, .c-sitemap:nth-child(1) .c-title-section .main-title p, .c-title-section .main-title .c-sitemap:nth-child(1) p {
    font-size: 1.3rem;
  }
  .c-sitemap:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    text-align: center;
  }
  .c-sitemap:nth-child(2) p {
    margin-left: 15px;
    margin-right: 15px;
  }
  .c-sitemap:nth-child(2) .c-sitemap__block {
    padding-top: 32px;
  }
  .c-sitemap:nth-child(2) .c-sitemap__tel {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .c-sitemap:nth-child(2) .c-sitemap__timeWork {
    margin-bottom: 18px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }
  .c-sitemap:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    padding-top: 20px;
  }
  .c-sitemap:nth-child(3) .c-sitemap__btnlink {
    width: 100%;
    line-height: 28px;
    border: none;
    border: 1px solid #fff;
  }
  .c-sitemap:nth-child(3) .c-sitemap__btnlink a {
    font-size: 1.3rem;
  }
  .c-sitemap__block p.c-sitemap__tel {
    font-size: 1.4rem;
    margin-bottom: 19px;
  }
  .c-sitemap__block p.c-sitemap__tel span {
    font-size: 1.8rem;
  }
  .footer-copyright {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  /*====================END--FOOTER=======*/
  #back_to_top .fa {
    font-size: 45px;
  }
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #CCCCCC;
}

.c-breadcrumb--footer {
  margin-bottom: 0px;
}

.c-breadcrumb li {
  color: #000;
  display: inline;
  position: relative;
  font-size: 1.3rem;
  margin-right: 13px;
}

.c-breadcrumb li:first-child a {
  color: #00ADA0;
  padding-bottom: 5px;
}

.c-breadcrumb li img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.c-breadcrumb a {
  text-decoration: none;
  position: relative;
  font-size: 1.4rem;
  color: #404040;
  margin-right: 16px;
}

.c-breadcrumb li:not(:first-child):before {
  /* font-family: "Font Awesome 5 Free";
		content: "\f054";
		display: inline-block;
		padding-right: 8px;
		padding-left: 8px;
		vertical-align: middle;
		font-weight: 900;
		font-size: 0.9rem;
		color: #000;
		line-height: 10px; */
}

.c-breadcrumb li:not(:last-child) a:after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #00ADA0;
  height: 1px;
  left: 0;
  bottom: 0;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  min-width: 1160px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1160px;
  margin: 0 auto;
}

.l-main {
  width: 1416px;
  margin: 0 auto;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-readmore-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
  margin: auto;
}

.c-readmore-section a {
  background-color: #00ADA0;
  min-width: 450px;
  text-align: center;
  line-height: 60px;
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px #000;
          box-shadow: 5px 5px 0px 0px #000;
}

.c-readmore-section img {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
  .c-readmore-section {
    width: 100%;
    padding: 0 25px;
    margin-top: 34px;
  }
  .c-readmore-section a {
    font-size: 1.3rem;
    -webkit-box-shadow: 2px 2px 0px 0px #000;
            box-shadow: 2px 2px 0px 0px #000;
    min-width: 100%;
    font-weight: bold;
    line-height: 39px;
  }
  .c-readmore-section img {
    width: 12px;
  }
}

.c-title-section {
  text-align: center;
  text-transform: capitalize;
}

.c-title-section .main-title {
  display: inline-block;
  border: 2px solid #ACDEDA;
  width: 500px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 60px;
}

.c-title-section .main-title h2, .c-title-section .main-title h3, .c-title-section .main-title h4 {
  font-size: 2rem;
  color: #8DD2CB;
  opacity: 0.9;
  margin-bottom: 12px;
}

.c-title-section .main-title p {
  font-size: 2.6rem;
  color: #fff;
}

.c-title-section > * {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.c-main-title {
  text-align: center;
  text-transform: capitalize;
}

.c-main-title .subtitle {
  font-size: 2rem;
  color: #00ADA0;
  line-height: 33px;
  margin-bottom: 3px;
  font-weight: 700;
}

.c-main-title .wrap-title {
  display: inline-block;
  border: 2px solid #000;
  width: 500px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  font-weight: 700;
}

.c-main-title .wrap-title span {
  font-size: 2.6rem;
  line-height: 33px;
}

.c-main-title .discription {
  font-size: 1.4rem;
  margin-top: 50px;
  line-height: 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .c-title-section {
    padding-left: 26px;
    padding-right: 26px;
  }
  .c-title-section .main-title {
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 35px;
    border: 1px solid #ACDEDA;
  }
  .c-title-section .main-title h2, .c-title-section .main-title h3, .c-title-section .main-title h4 {
    margin-bottom: 0px;
  }
  .c-main-title {
    padding-left: 25px;
    padding-right: 25px;
  }
  .c-main-title .wrap-title {
    width: 100%;
    border: 1px solid #000;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
  }
  .c-main-title .wrap-title span {
    font-size: 1.6rem;
  }
  .c-main-title .subtitle {
    font-size: 1.4rem;
    line-height: 15px;
  }
  .c-main-title .discription {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1__card {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.c-list1__img {
  position: relative;
}

.c-list1 .c-category {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #00ADA0;
  padding: 0px 10px;
  line-height: 30px;
  font-size: 1.5rem;
}

.c-list1__info {
  background-color: #fff;
  padding: 15px 10px;
  min-height: 115px;
}

.c-list1__info h3, .c-list1__info h2, .c-list1__info h4 {
  font-size: 1.6rem;
  line-height: 25px;
}

.c-list1__info p {
  font-size: 1.4rem;
  line-height: 33px;
}

.banner-pagein {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.banner-pagein .c-category {
  margin-bottom: 13px;
}

.banner-pagein .c-category span {
  font-size: 1.6rem;
  font-weight: bold;
}

.banner-pagein__img {
  position: relative;
}

.banner-pagein__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A5A5A5;
  opacity: 0.21;
}

.banner-pagein__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-pagein__title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

.banner-pagein__title img {
  display: block;
  margin: auto;
}

.banner-pagein__content {
  position: absolute;
  top: 278px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-mainvisual {
  z-index: 1;
}

.c-mainvisual .slick-slide img {
  width: 100%;
}

.c-mainvisual__item {
  max-height: 700px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.c-mainvisual__item .c-mainvisual__imgslide {
  position: relative;
}

.c-mainvisual__item .c-mainvisual__imgslide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .15;
  z-index: 3;
}

.c-mainvisual__imgslide.sp-only {
  display: none;
}

.c-mainvisual__content {
  width: 558px;
  position: absolute;
  bottom: 50px;
  max-width: 558px;
}

.c-mainvisual__content .sp-only {
  display: none;
}

.c-mainvisual__content p {
  height: 35px;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 34px;
  color: #fff;
}

.p-home1 {
  background-image: url(../../assets/img/index/bck-pickup.png);
  padding-top: 50px;
}

.p-home1 .slick-slide img {
  width: 100%;
}

/*============p-HOME2=================*/
.p-home2 {
  background-image: url(../../assets/img/index/bck-corpinformat.png);
  background-repeat: repeat;
  padding-top: 50px;
  padding-bottom: 75px;
}

.c-listCorpInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-CorpInfo {
  width: 580px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  margin-top: 35px;
}

.c-CorpInfo:nth-child(-n + 2) {
  margin-top: 0px;
}

.c-CorpInfo__box {
  background-color: #fff;
  margin: 0 0 0 -40px;
  position: relative;
  width: 285px;
  z-index: 2;
  padding: 24px 10px 28px 15px;
  margin-top: 25px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(89, 89, 89, 0.35);
  box-shadow: 0 3px 7px 0 rgba(89, 89, 89, 0.35);
}

.c-CorpInfo__box h3 {
  font-size: 1.8rem;
  line-height: 25px;
  margin-bottom: 3px;
}

.c-CorpInfo__box span {
  font-size: 1.2rem;
  line-height: 22px;
}

.c-CorpInfo__box p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #00ADA0;
  margin-top: 4px;
  margin-bottom: 25px;
  line-height: 26px;
}

.c-CorpInfo__readmore {
  line-height: 12px;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 1px 7px;
  background-color: #CCCCCC;
}

.c-CorpInfo__img {
  overflow: hidden;
  max-width: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  height: 210px;
  border: 2px solid #fff;
}

/*============End-p-HOME2=================*/
/*============End-p-HOME3=================*/
.p-home3 {
  padding-top: 50px;
}

.p-home3 .c-main-title {
  margin-bottom: 26px;
}

.p-home3 .c-main-title .wrap-title {
  border: none;
  width: auto;
  padding: 0;
}

.p-home3 .c-main-title .subtitle {
  margin-bottom: 10px;
}

.p-home3 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-home3 .news__background {
  width: 290px;
  margin-left: -128px;
  max-width: 290px;
}

.p-home3 .news__list {
  width: 780px;
  margin-left: 54px;
}

.p-home3 .item {
  border-bottom: 1px solid #ddd;
}

.p-home3 .item:nth-child(1) {
  border-top: 1px solid #ddd;
}

.p-home3 .item__date {
  line-height: 20.06px;
  color: #781111;
  width: 100px;
  font-size: 1.4rem;
}

.p-home3 .item__desc {
  font-size: 1.6rem;
  line-height: 20.06px;
  color: #000;
}

.p-home3 .item a {
  display: table;
  width: 100%;
  text-decoration: none;
  padding: 2.2rem 0;
}

.p-home3 .item p {
  display: table-cell;
  vertical-align: middle;
}

.p-home3 .item p.sp-only {
  display: none;
}

.p-home3 .item .c-readmore-section {
  margin-top: 45px;
}

/*============End-p-HOME3=================*/
/*============End-p-HOME4=================*/
.p-home4 {
  margin-top: 115px;
  background-color: #F8B616;
  margin-bottom: 80px;
}

.discussion-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discussion-book__imgl, .discussion-book__imgr {
  width: 440px;
  max-width: 440px;
}

.discussion-book .sp-only {
  display: none;
}

.discussion-book__content {
  position: relative;
  width: 535px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.discussion-book__content p {
  margin-top: 200px;
  text-align: center;
  font-size: 1.7rem;
  line-height: 25px;
}

.discussion-book .c-readmore-section {
  margin-top: 40px;
}

.discussion-book .c-readmore-section a {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  color: #00ADA0;
  font-weight: 700;
}

.discussion-book__imgbook {
  position: absolute;
  max-width: none;
  margin: auto;
  width: 625px;
  left: 50%;
  top: -65px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.discussion-book__readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discussion-book__imgr {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.discussion-book__imgl {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*============End-p-HOME4=================*/
@media only screen and (max-width: 767px) {
  .l-main, .l-container {
    width: 100%;
  }
  .c-header {
    position: relative;
  }
  /*=========Slide================*/
  .c-mainvisual__item {
    background-image: none !important;
    height: auto !important;
  }
  .c-mainvisual__item .pc-only {
    display: none;
  }
  .c-mainvisual__content {
    width: 100%;
    max-width: 100%;
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .c-mainvisual__content p {
    font-weight: 700;
    font-size: 1.6rem;
    height: auto;
    margin-top: 35px;
  }
  .c-mainvisual__imgslide.sp-only {
    display: block;
  }
  .c-mainvisual__content .sp-only {
    display: block;
  }
  /*=========End-Slide================*/
  /*==========P-hOME1==============*/
  .p-home1 {
    padding-top: 35px;
    background-color: #15B1A5;
    background-image: none;
  }
  .c-title-section .main-title h2, .c-title-section .main-title h3, .c-title-section .main-title h4 {
    font-size: 1.4rem;
  }
  .c-title-section .main-title p {
    font-size: 1.6rem;
  }
  .c-title-section .main-title {
    padding-top: 10px;
  }
  .c-list1 .c-category {
    font-size: 1.2rem;
  }
  .c-list1__info {
    text-overflow: ellipsis;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    max-height: 85px;
    padding: 17px 10px;
    min-height: 92px;
  }
  .c-list1__info h2, .c-list1__info h3, .c-list1__info h4 {
    font-size: 1.18rem;
    line-height: 1.3;
  }
  .c-list1__info p {
    font-size: 1.1rem;
    line-height: 22px;
  }
  /*==========End-P-HOME1==============*/
  /*==========Start-P-HOME2==============*/
  .p-home2 {
    background-image: url(../../assets/img/index/bck-corpinformat-rp.png);
    padding-top: 35px;
    padding-bottom: 42px;
  }
  .c-CorpInfo {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .c-CorpInfo__img {
    max-width: 100%;
    height: 125px;
    border: 0.5px solid #fff;
    width: 100%;
  }
  .c-CorpInfo__box {
    margin-top: 15px;
    padding: 10px 8px 23px 8px;
    width: 100%;
  }
  .c-CorpInfo__box h3 {
    font-size: 1.4rem;
    line-height: 17px;
    margin-bottom: 0;
  }
  .c-CorpInfo__box p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .c-CorpInfo__box span {
    font-size: 1.1rem;
  }
  .c-CorpInfo__readmore {
    font-size: 1.1rem;
  }
  .c-CorpInfo + .c-CorpInfo {
    margin-top: 25px;
  }
  .c-CorpInfo:nth-child(-n + 1) {
    margin-top: 0px;
  }
  .c-CorpInfo:nth-child(-n + 2) {
    margin-top: 25px;
  }
  /*==========End-P-HOME2==============*/
  /*==========End-P-HOME3==============*/
  .p-home3 {
    padding-top: 30px;
  }
  .p-home3 .news__background {
    display: none;
  }
  .p-home3 .news__list {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
  .p-home3 .c-main-title {
    margin-bottom: 22px;
  }
  .p-home3 .c-main-title .subtitle {
    margin-bottom: 1px;
  }
  .p-home3 .item p {
    display: block;
  }
  .p-home3 .item p.pc-only {
    display: none;
  }
  .p-home3 .item p.sp-only {
    display: block;
  }
  .p-home3 .item a {
    padding: 9px 0;
  }
  .p-home3 .item__desc {
    font-size: 1.3rem;
  }
  .p-home3 .item__date {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  /*==========End-P-HOME3==============*/
  /*==========Start-P-HOME4==============*/
  .discussion-book .sp-only {
    display: block;
  }
  /*==========End-P-HOME4==============*/
  /*============discussion-book=========*/
  .p-home4 a {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #fff;
    color: #00ADA0;
    font-weight: 700;
  }
  .p-home4 .pc-only {
    display: none;
  }
  .p-home4 .discussion-book {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 45px;
  }
  .p-home4 .discussion-book__imgbook {
    width: 241px;
    top: -34px;
  }
  .p-home4 .discussion-book__imgl {
    float: left;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .p-home4 .discussion-book__imgr {
    float: right;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .p-home4 .discussion-book__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .p-home4 .c-readmore-section {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    padding: 0 25px;
    margin-top: 25px;
  }
  .p-home4 .c-readmore-section a {
    min-width: 100%;
    line-height: 39px;
  }
  .p-home4 .c-readmore-section img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .p-home4 .discussion-book__content p {
    margin-top: 85px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 21px;
  }
  /*============end-discussion-book=========*/
}

.p-company {
  margin-bottom: 210px;
}

.company__list {
  margin: 0 -42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 100px;
}

.company__item {
  padding: 0 42px;
  margin-top: 118px;
}

.company__item:nth-child(-n  + 3) {
  margin-top: 0;
}

.c-company {
  width: 330px;
}

.c-company a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.c-company__name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 17px;
  margin-bottom: 9px;
}

.c-company__address {
  font-size: 1.2rem;
}

.c-company__text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00ADA0;
  line-height: 30px;
}

.c-company__thumb {
  position: relative;
}

.c-company__thumb:before {
  padding-top: 66.66%;
  content: '';
  display: block;
}

.c-company__thumb img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
}

.c-company__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 14px;
}

.c-company__item-main .read-more {
  background-color: #00A99D;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  border-radius: 100%;
  font-size: 10px;
  color: #fff;
  padding-left: 3px;
}

.c-company__welfare {
  margin-top: 28px;
}

.c-company__welfare span {
  background-color: #cccc;
  border-radius: 25px;
  padding: 2px 9px;
  font-size: 1.2rem;
  line-height: 19px;
}

/*==========Pagi-Page===============*/
.c-pagenation {
  margin-top: 57px;
}

.c-pagenation .prev a, .c-pagenation .next a {
  border: none;
  color: #000;
}

.c-pagenation .prev span, .c-pagenation .next span {
  font-size: 1.8rem;
  font-weight: bold;
}

.c-pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-pagenation .prev {
  margin-right: 24px;
  display: none;
}

.c-pagenation li {
  display: block;
  height: 46px;
  min-width: 46px;
  margin-right: 10px;
}

.c-pagenation .current a {
  background: #000;
  color: #fff;
}

.c-pagenation li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #000;
  font-size: 2rem;
}

.p-contact2 {
  margin-bottom: 205px;
}

.p-contact2 .contact-content {
  width: 780px;
  margin: auto;
}

.p-contact2 .contact-form {
  margin-top: 60px;
}

.p-contact2 .formscontact-btnwrap {
  background-color: #00ADA0;
  width: 450px;
  text-align: center;
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  -webkit-box-shadow: 4px 4px 0px 0px #000;
  box-shadow: 4px 4px 0px 0px #000;
  margin: auto;
  position: relative;
  margin-top: 50px;
}

.p-contact2 .formscontact-btnwrap img {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-contact2 .formscontact-btnwrap input {
  border: none;
  line-height: 60px;
  width: 100%;
  background-color: #00ada0;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
}

.p-contact2 .contact-title {
  text-align: center;
}

.p-contact2 h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 38px;
}

.p-contact2 .contact-descript p {
  font-size: 1.4rem;
  line-height: 28px;
  text-align: left;
}

.p-contact2 .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid #c5c5c5;
}

.p-contact2 .contact-item:nth-child(1) {
  border-top: 1px solid #c5c5c5;
}

.p-contact2 .contact-item__left {
  width: 250px;
}

.p-contact2 .contact-item__right {
  width: calc(100% - 250px);
  padding-right: 140px;
}

.p-contact2 .contact-item__right--padding {
  padding-right: 0;
}

.p-contact2 .contact-item__checkbox {
  font-weight: bold;
}

.p-contact2 .contact-item input[type="text"] {
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

.p-contact2 .contact-item .input-howknow {
  width: 440px;
  margin-top: 15px;
}

.p-contact2 .contact-item label {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-contact2 .contact-item .input-lbl:after {
  content: "※";
  font-size: 1.6rem;
  font-weight: 600;
  color: #fd0000;
  text-indent: -2px;
  margin-left: 3.5px;
}

.p-contact2 .contact-item textarea {
  height: 210px;
  padding: 10px;
}

.p-contact2 input[type="text"], .p-contact2 textarea {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  font-size: 1.4rem;
}

.p-contact2 .contact-item__right--padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-contact2 .contact-item__checkbox {
  margin-right: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-contact2 .contact-item__checkbox:last-child {
  margin-top: 15px;
}

.p-contact2 .contact-item__checkbox span {
  margin-left: 5px;
  font-size: 1.6rem;
}

.p-contact2 .contact-item__checkbox input[type=checkbox] {
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 17px;
  height: 17px;
  position: relative;
}

.p-contact2 .contact-item__checkbox input[type=checkbox]:after {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  content: " ";
  background-color: #fff;
  color: #00ada0;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border: 1px solid #c2c2c2;
}

.p-contact2 .contact-item__checkbox input[type=checkbox]:checked:after {
  content: "✓";
  font-size: 12px;
  font-weight: 900;
}

.p-contact2 .contact-item__checkbox:last-of-type {
  margin-top: 15px;
}

.p-contact2 .contact-item__right--padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// 4. 
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.c-mainvisual__item.slick-slide {
  max-height: 700px;
}

/*=======P-HOME1===========*/
.p-home1 .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-pickup {
  padding-bottom: 98px;
}

.slick-pickup .slick-prev, .slick-pickup .slick-next {
  background-color: #2A2A29;
  z-index: 1;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 35%;
  opacity: 0.8;
}

.slick-pickup .slick-prev i, .slick-pickup .slick-next i {
  color: #FBB700;
  font-size: 30px;
}

.slick-pickup .slick-prev {
  left: 50px;
}

.slick-pickup .slick-next {
  right: 50px;
}

.slick-pickup .slick-next:before {
  display: none;
}

.slick-pickup .slick-prev:before {
  display: none;
}

.slick-pickup .slick-dots {
  bottom: 50px;
}

.slick-pickup .slick-dots li {
  height: 15px;
  width: 15px;
}

.slick-pickup .slick-dots li button:before {
  color: #fff;
  width: 12px;
  height: 12px;
  line-height: 13px;
  font-size: 30px;
  color: #fff;
  opacity: 1;
}

.slick-pickup .slick-dots .slick-active {
  border: 1px solid #000;
  border-radius: 100%;
}

.slick-pickup .slick-dots .slick-active button:before {
  color: #000;
}

/*=======End- P-HOME1===========*/
.slick-slide img.mobile--only {
  display: none;
}

.slick-slide img.mobile--onlyicon {
  display: none;
}

@media screen and (max-width: 767px) {
  /*=======P-HOME1===========*/
  .slick-pickup .slick-prev, .slick-pickup .slick-next {
    display: none !important;
  }
  .slick-pickup {
    padding-bottom: 75px;
  }
  .slick-pickup .slick-dots {
    bottom: 40px;
  }
  .slick-pickup .slick-dots li {
    height: 10px;
    width: 10px;
  }
  .slick-pickup .slick-dots li button:before {
    color: #fff;
    width: 8px;
    height: 8px;
    font-size: 15px;
    line-height: 8px;
  }
  .slick-dots li button {
    height: 10px;
    width: 10px;
  }
  /*=======End-P-HOME1===========*/
  .slick-slide img.mobile--only {
    display: block;
  }
  .slick-slide img.mobile--onlyicon {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-bckgreen {
  background-color: #00ADA0;
  color: #ffff;
}

.u-red {
  color: #fd0000;
}

.u-blue-bold {
  color: #00ada0;
  font-weight: bold;
  font-size: 1.4rem;
}
