.c-listAnchorlink{
	@include  display-flex(-25px,-25px);
}
.c-anchorLink {
    padding: 0 25px;
    &__item {
	    width: 300px;
	    border-radius: 5px;
	    background-color: #00AEEF;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    color: #fff;
	    padding-top: 14px;
	    padding-bottom: 14px;
	    display: flex;
	   
	}
	a{
		font-size: 1.6rem;
		line-height: 20px;
		margin-left: 10px;
		cursor: pointer;
		position: relative;
		&:before {
		    font-family: "Font Awesome 5 Free";
		    content: "\f078";
		    display: inline-block;
		    padding-right: 3px;
		    vertical-align: middle;
		    font-weight: 900;
		    font-size: 5px;
		    padding-bottom: 4px;
		    margin-right: 5px;
		    font-size: 1.3rem;
		}
	}
}
.p-link1{
	.anchlink-descr{
		margin-bottom: 16px;
		font-size: 1.4rem;
	}
	h3, h4, h5, h6{
		font-weight: 500;
		font-size: 1.4rem;
	}
}
.p-wrapcaptabl{
	.c-tblStyle{
		margin-top: 14px;
	}
}
.c-captiontable {
    padding: 10px 15px;
    background-color: #ECE6E6;
    margin-bottom: 23px;
    h1,h2,h3,h4{
    	font-size: 1.6rem;
    	line-height: 20px;
    	font-weight: 500;
    }
}