/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-main{
}
.font-yugothic{
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
}
.indexbanner{
	width: 100%;
	max-height: 360px;
	overflow: hidden;
	background-size: cover;
	position: relative;
	padding-top: 220px;
	padding-bottom: 40px;
	padding-left: 40px;
	.c-category{
		margin-bottom: 13px;
		span{
			font-size: 1.6rem;
			font-weight: bold;
		}
	}
	.banner-content {
    	max-width: 460px;
	}
	.banner-title{
		font-size: 2rem;
		line-height: 3rem;
		font-weight: bold;
	}
}
/*=====Start-News-Index==========*/

	.c-list1__card{
		font-size: 0;
	}
	.p-home1{
		.c-list1__card{
			display: none;
		}
	}
	.c-list1{
		font-size: 0;
		&__card{ 
			& > *{
				display: inline-block;
				vertical-align: top;
			}
			& + .c-list1__card{
			margin-top: 30px;
			}
		}
		&__img{
				max-width: 350px;
			    position: relative;
			.c-category{
				position: absolute;
				top: 0;
				left:0;
			}
		}
		&__info{
			width: calc(100% - 350px);
			padding-left: 40px;
			position: relative;
			p{
				font-size: 1.4rem;
				margin-top: 15px;
				margin-bottom: 14px;
				text-overflow: ellipsis;
				width: 100%;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 5;
				display: -webkit-box;
				height: 95px;
				line-height: 20px;
				letter-spacing: 0.4px;
			}
			
			h3{
				font-size: 1.6rem;
				line-height: 1.6rem;
				font-weight: bold;
			}
		}
		&__btnlink{
		    display: flex;
		    justify-content: flex-end;
		}
	}

/*=====End-News-Index==========*/
.p-home3{
	.c-btnvmore{
		margin-top: 48px;
	}
}
.p-home2{
	.c-list3 {
	    display: none;
	}
}
.p-home3{
	.c-list2 {
	    display: none;
	}
}