/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{	
	
	&__top {
	    padding: 6px 0;
	    border-bottom: 1px solid #CCCCCC;
	    border-top: 1px solid #CCCCCC;
	}
	&__main {
	    background-color: #00ADA0;
	}
	.c-listSitemap{
		@include  display-flex(0px,0px);
		justify-content: space-between;
	}
	.logoft {
	    margin-bottom: 18px;
	}
}

.c-sitemap{
	color: #fff;
	&:nth-child(1){
		width: 420px;
	    border-right: 1px solid #80D6D0;
	    padding-right: 12px;
		p{
			margin-bottom: 9px;
			display: block;
			font-size: 1.4rem;
		}
	}
	&:nth-child(2){
		width: 440px;
		padding-left: 12px;
		p{
			font-size: 1.3rem;
		}
	}
	&:nth-child(3){
		font-size: 1.4rem;
		padding-bottom: 23px;
		p + p{
			margin-top: 18px;
		}
	}

	&__block{
	    padding-top: 20px;
	    padding-bottom: 20px;
		a{
			color: #fff;
		}
	}
	&__tel{
		font-size: 2.6rem;
		margin-bottom: 8px;
		span{    
			font-size: 4.1rem;
		}
	}
	&__btnlink {
		line-height: 50px;
		background-repeat: no-repeat;
		width: 300px;
		border: 2px solid #fff;
		text-align: center;
		color: #fff;
		@extend .font-notosansbol;
		a{
			font-size: 1.4rem;
		}
	}
	.c-sitemap__btnlink:nth-child(1){
		border-left: 4px solid #fff;
	}
	&__timeWork{
	    text-align: center;
	    background-color: #fff;
	    color: #00ADA0;
	    line-height: 22px;
	    font-weight: 700;
	    display: inline-block;
	    padding-left: 47px;
	    padding-right: 47px;
	    span{
	    	font-size: 1.4rem;	
	    	margin-left: 5px;
	    }
	}
	
}



.footer-copyright {
    padding-top: 20px;
    padding-bottom: 21px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #33BDB3;
    @extend .font-notosansreg;
    color: #fff;
}

@media only screen and (max-width: 767px){
	/*=============================================FOOTER=======*/
	.logoft {
	    margin-bottom: 23px;
	}
	.c-sitemap__block{
	    padding: 0;
	    margin: 0;
	}
	.c-sitemap:nth-child(1){
	    order: 3;
	    padding: 25px;
	    padding-top: 37px;
	    p{
	        font-size: 1.2rem;
	        text-align: center;
	        margin-bottom: 4px;
	        &.font-notosansbol{
	            font-size: 1.3rem;
	        }
	    }
	}
	.c-sitemap:nth-child(2){
	    order: 1;
	    padding: 0;
	    text-align: center;
	    
	    p{
	        margin-left: 15px;
	        margin-right: 15px;
	    }
	    .c-sitemap__block{
	        padding-top: 32px;
	    }
	    .c-sitemap__tel {
	        margin-top: 18px;
	        margin-bottom: 18px;
	    }
	    .c-sitemap__timeWork{
	        margin-bottom: 18px;
	        margin-left: 25px;
	        margin-right: 25px;
	        width: auto;
	    }
	}

	.c-sitemap:nth-child(3){
	    order: 2;
	    width: 100%;
	    padding-left: 25px;
	    padding-right: 25px;
	    border-top: 0.5px solid #fff;
	    border-bottom: 0.5px solid #fff;
	    padding-top: 20px;
	    .c-sitemap__btnlink {
	        width: 100%;
	        line-height: 28px;
	        border: none;
	        border: 1px solid #fff;
	        a{
	        	font-size: 1.3rem;
	        }
	    }

	}
	.c-sitemap__block p.c-sitemap__tel {
	    font-size: 1.4rem;
	    margin-bottom: 19px;
	    span{
	        font-size: 1.8rem;
	    }
	}
	.footer-copyright {
	    padding-top: 13px;
	    padding-bottom: 13px;
	}

	/*====================END--FOOTER=======*/
	#back_to_top .fa {
	    font-size: 45px;
	}
}