/* Header
------------------------------------------------------------*/
.c-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	&__logo{
		img{
			max-width: 292px;
		}
	}
	&__main{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		align-items: center;
		padding-left: 20px;
		background-color: #fff;
	}
	&__top{
		display: flex;
		height: 53px;
		text-align: right;
		align-items: center;
		justify-content: flex-end;
		& > *{
			color: #fff;
			font-size: 1.4rem;
		}
		img{
			margin-left: 10px;
		}
	}
}
.c-gnav{
		ul{
			font-size: 0;
		}
		li{
			display: inline-block;
			vertical-align: middle;
			&.sp-only {
    			display: none;
			}
		}
		a{
			height: 100%;
		    font-size: 1.6rem;
		    padding-left: 25px;
		    padding-right: 25px;
		    @extend .font-notosansbol;
		    line-height: 90px;
			&:hover{
				
			}
		}
        .u-bckgreen{
            a{
                padding-left: 39.5px;
                padding-right: 39.5px;
            }
        }
}
/* Main menu
------------------------------------------------------------*/
.c-gnavi{
}
/*=====================MENU=============================*/
@media only screen and (max-width: 767px){
.navbar-toggle {
    padding-top: 15px;
    cursor: pointer;
    position: relative;
    border-bottom: solid 1px transparent;
    outline: none;
    display: none;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.navbar-toggle .icon-bar {
    transition: all .3s ease-in-out;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: auto;
    &:nth-child(3){
        margin-bottom: 8px;
    }
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}
.c-gnav li {
    display: block;
    float: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
}
.c-header{
    &__top{
        display: none;
    }
    &__logo {
        padding: 0 5px;
    }
    &__mail{
        background-color: #00ADA0;
        height: 100%;
        padding: 14px 1px;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        min-width: 65px;
        img{
            display: block;
            margin: auto;
            margin-bottom: 8px;
        }
    }
    &__logo img {
        max-width: 180px;
    }
}
.c-header__main{
    font-size: 0;
    height: 70px;
    padding: 0;
    margin: 0;
    & > *{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
}

.c-header.open .c-gnav {
    transform: translate(0, 0);
}
.c-gnav{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: block;
    transform: translate(100%, 0);
    background-color: #00ADA0;
    text-align: center;
    transition: all .3s ease-in-out;
    padding-top: 70px;
    
    li{
        a{
            color: #fff;
            line-height: 25px;
            padding: 0;
        }
    }
    &__hotline{
        font-size: 3rem;
        color: #fff;
        padding-top: 25px;
        border-top: 0.5px solid #DBEEEC;
        border-bottom: 0.5px solid #DBEEEC;
        padding-bottom: 25px;
        margin-top: 26px;
        margin-bottom: 25px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .c-gnav__requests{
        border: 0.5px solid #fff;
        font-size: 1.6rem;
        line-height: 25px;
        padding: 4px 16px;
        font-weight: 700;
        display: block;
        color: #fff;
        margin-bottom: 22px;
    }

}
.c-gnav__bottom{
    padding-left: 16px;
    padding-right: 16px;
}
.c-gnav__tel{
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8rem;
    margin-bottom: 16px;
    font-weight: 700;
    span{
        font-size: 3rem;
    }
}
.c-gnav__timeWork{
    text-align: center;
    background-color: #fff;
    color: #00ADA0;
    line-height: 24px;
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
}

.navbar-toggle {
    display: inline-block;
    border-color: #000;
    margin: 0;
    z-index: 1;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
}
.navbar-toggle.open .icon-bar:nth-child(1){
    transform: translate(-1px, 13px) rotate(-225deg);
}
.navbar-toggle.open .icon-bar:nth-child(2){
    opacity: 0;
}
.navbar-toggle.open .icon-bar:nth-child(3){
    transform: translate(-1px, -7px) rotate(225deg);
}
.c-header.open{
	.navbar-toggle{
		background-color: #00ADA0;
		border: none;
	}
}

}