.c-title-section {   
	text-align: center;
    text-transform: capitalize;
    .main-title{
    	display: inline-block;
        border: 2px solid #ACDEDA;
        width: 500px;
        padding-top: 17px;
        padding-bottom: 17px;
        margin-bottom: 60px;
        h2,h3,h4{
            font-size: 2rem;
            color: #8DD2CB;
            opacity: 0.9;
            margin-bottom: 12px;
        }
        p{
            @extend .font-notosansbol;
            font-size: 2.6rem;
            color: #fff;
        }
    }
    & > * {
    	font-weight: bold;
    	font-size: 2.4rem;
    	line-height: 2.4rem;
    }
}
.c-main-title {
    text-align: center;
    text-transform: capitalize;
    .subtitle {
        font-size: 2rem;
        color: #00ADA0;
        line-height: 33px;
        margin-bottom: 3px;
        font-weight: 700;
    }
    .wrap-title {
        display: inline-block;
        border: 2px solid #000;
        width: 500px;
        padding-top: 11.5px;
        padding-bottom: 11.5px;
        font-weight: 700;
        span{
            font-size: 2.6rem;
            line-height: 33px;
        }
    }
    .discription{
        font-size: 1.4rem;
        margin-top: 50px;
        line-height: 25px;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 767px){
    .c-title-section {
        padding-left: 26px;
        padding-right: 26px;
        .main-title {
            width: 100%;
            padding-bottom: 7px;
            margin-bottom: 35px;
            border: 1px solid #ACDEDA;
        }
    }
    .c-title-section .main-title h2, .c-title-section .main-title h3, .c-title-section .main-title h4 {
        margin-bottom: 0px;
    }
    .c-main-title {
        padding-left: 25px;
        padding-right: 25px;
        .wrap-title {
            width: 100%;
            border: 1px solid #000;
            padding-top: 8.5px;
            padding-bottom: 8.5px;
            span {
                font-size: 1.6rem;
            }
        }
        .subtitle {
            font-size: 1.4rem;
            line-height: 15px;
        }
        .discription {
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }


}