.banner-pagein{
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	.c-category{
		margin-bottom: 13px;
		span{
			font-size: 1.6rem;
			font-weight: bold;
		}
	}
	&__img{
		position: relative;
		&:after {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: #A5A5A5;
		    opacity: 0.21;
		}
		img{
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}
	&__title{
		font-size: 2rem;
		line-height: 3rem;
		font-weight: bold;
		img{
			display: block;
			margin: auto;
		}
	}
	&__content {
	    position: absolute;
	    top: 278px;
	    left: 50%;
	    transform: translateX(-50%);
	}
}