/* Main
------------------------------------------------------------*/
.all{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	max-width: 1000px;
}
.text-c{
	text-align: center;
}
.clear{
	clear: both;
}
.mr-bot50{
	margin-bottom: 50px;
}
.mobile--only, .mobile--onlyicon{
	display:none ;
}
.font-YuMincho{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	font-weight: 500;
}
@media screen and (max-width: 767px) {
	.hidden-sm{
		display: none !important;
	}
	.mobile--only {
	    display: block;
	    max-width: 100%;
	    margin: auto;
	}
	.mobile--onlyicon{
		display: inline-block;
	}
}

.indexmodule01{
	position: relative;
	.slider-top {
		.nav-menu {
		    bottom: 255px;
		    position: absolute;
		    text-align: center;
		    left: 50%;
		    color: #fff;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);  
		}
   	    .logo{
   	    	display:inline-block;
   	    	margin: 0 auto;
   	    	margin-top: 245px;
   	    	img{
   	    		max-width: 138px;
   	    	}
   	    }
	}
	    .slider-item {
		    position: relative;
        .slide--img{
        	height: 100vh;
		    width: 100%;
		    overflow: hidden;
		    position: relative;
		    .images{
			    position: absolute;
			    top: 20px;
			    left: 20px;
			    right: 20px;
			    bottom: 20px;
			    background-size: cover;
			    background-position: center bottom;
			    &.sp-only{
			    	display: none;
			    }
		    }
		    .mobile--only{
		    	display:none;
		    }
		    @media screen and (max-width: 768px) {
		    	
		    	.mobile--only {
		    	    display: block;
		    	    max-width: 100%;
		    	}
		    }
        }
	    }
    .slide--content{
    	margin: auto;
    	width: 100%;
    	position: absolute;
    	text-align: center;
    	left: 50%;
    	top: 0;
    	color: #fff;
    	transform: translateX(-50%);
	        
	        .smr {
	            font-size: 3.6rem;
	            margin-top: 45px;
	            font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	            font-weight: 400;
	            line-height: 3.6rem;
	            letter-spacing: 0.7rem;
	        }
	        .descript{
		        margin-top: 45px;
		        line-height: 2rem;
		        img{
		        	margin: auto;
		        }
	        }
	    }
}	  
.indexmodule02{
	.inner{
		font-size: 0;
	    @media screen and (max-width: 768px) {
	    display: block;
	    }
		.recommend-child {
			color: #fff;
			text-decoration: none;
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			background-position: center;
			position: relative;
			padding: 90px 0;
			background-size: cover;
		}
		    
	}
    .image {
        position: relative;
        width: 100%;
        img {
	        width: 100%;
	        max-width: none;
	        -webkit-transition: none;
	        transition: none;
	        height: 425px;
        }
    }
    .rec-child--content {
	    width: 520px;
	    margin: 0 auto;
	    line-height: 1.55;
	    color: #72461F;
	    z-index: 1;
	    background: rgba(255, 255, 255, 0.8);
	    font-size: 0;
	    padding: 30px 30px 35px 60px;
	    position: relative;
        .content--left {
            padding-right: 125px;
	    }
        .sale{
			    position: absolute;
			    right: 30px;
			    top: -12px;
        }
        &__title{
        	margin-bottom: 25px;
        }
        &__descript {
	        font-size: 3.6rem;
	        line-height: 1.25;
        }
    }
    &__readmore {
            padding: 4px 64px;
            border: 2px solid #642200;
            margin-top: 25px;
            display: inline-block;
            font-size: 1.6rem;
        }
}
.indexmodule03{
	position: relative;
	background-color: #FFF3E1;
	width: 100%;
	padding: 90px 0;
	.inmod03-wrapp {
	    position: relative;
	    display: flex;
	}
	.title.hidden-sm{
		display: table;
		img{
			white-space: normal;
			-webkit-transform: translate(3rem, 0px) rotate(90deg);
			transform: translate(3rem, 0px) rotate(90deg);
			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
			position: absolute;
			display: table-cell;
			top: 5px;
		}
		p {
		    font-size: 3.6rem;
		    color: #642200;
		    width: 34px;
		    word-wrap: break-word;
		    height: auto;
		    display: table-cell;
		    font-weight:400;
		    line-height: 43px;
		}
	}

	.content {
		font-size: 1.4rem;
		line-height: 2.5rem;
		display: inline-block;
		padding-left: 85px;
		padding-top: 11px;
		p{
			letter-spacing: 1.2px;
			line-height: 30px;
		}
	    .readmore{
			display: inline-block;
			background-color: #642200;
			padding: 13px 65px;
			line-height: 1rem;
			color: #fff;
			font-size: 1.6rem;
			margin-top: 30px;
			letter-spacing: 0.2rem;
	    }
	}
}
.indexmodule04{
    background-color: #FF9C46;
    padding: 90px 0;
    .comp-main-title {
        margin-bottom: 45px;
        
    }
    &--comp-post--title {
    	text-align: center;
    	p{
    	display: inline-block;
        font-size: 1.4rem;
        margin-bottom: 20px;
        position: relative;
        padding-bottom: 2px;
        color: #642200;
        border-bottom: 1px solid #642200;
    	   
    		img{
    			vertical-align: middle;
    		}
    	}
    }
	.comp-post-block{
    	margin: 0 -25px;
    	font-size: 0;
    	.wrap-item {
    		padding: 0 25px;
    		width: 35rem;
    		display: inline-block;
			
    	    .item {
    	        border: 1px solid #B3B3B3;
    	        &:not(:last-child){
    	        	margin-bottom: 15px;
    	        }
    	    }   	   
    	}
    	&__blog-content {
    	    display: table;
    	    width: 100%;
    	    .image {
    	        width: 80px;
    	        display: table-cell;
    	        vertical-align: top;
    	        img {
    	            display: block;
    	            max-width: 100%;
    	            object-fit: cover;
    	            &.mobile--only{
    	            	display: none;
    	            }
    	        }
    	    }
    	    
    	}
    }
    .readmore {
        text-align: center;
        margin-top: 50px;
        display: block;
        a{
	        background-color: #642200;
	        display: inline-block;
	        vertical-align: middle;
	        padding: 13px 102px;
	        line-height: 1rem;
	        color: #fff;
	        letter-spacing: 0.2rem;
        }
    }
    &--short-detail {
    	background-color: #FFF3E1;
    	display: table-cell;
    	vertical-align: top;
    	padding-left: 10px;
    	font-size: 1.2rem;
    	padding-top: 12.5px;
    	letter-spacing: 0px;
    	padding-right: 2px;
        .date{
        	font-size: 1.3rem;
        	color: #642200;
        }
        .title{
        	color: #000;
        	font-size: 1.3rem;
        }
        a{
        	text-overflow: ellipsis;
        	width: 100%;
        	-webkit-box-orient: vertical;
        	overflow: hidden;
        	-webkit-line-clamp: 2;
        	display: -webkit-box;
        	max-height: 50px;
        	line-height: 20px;
        }
    }
}
/* End-main
------------------------------------------------------------*/
@media screen and (max-width: 767px)  { 
	.all{
		width: 100%;
	}
	.indexmodule01{
		.slider-top {
			   	    .slider-item {
			   	    		height: 100vh;
			   	    		width: 100%;
			   	    		overflow: hidden;
			   	    		position: relative;          
			            .slide--content{
			            	.smr {
			            	    margin-top: 65px;
			            	    line-height: auto;
			            	    letter-spacing: 2rem;
			            	    font-size: 1.8rem;
			            	}
			            	.descript {
		            	        display: block;
		            	        max-width: 350px;
		            	        margin: auto;
		            	        img{
		            	        	max-width: 323px;
		            	        }
			            	}
			            	
			            }

			   	    }
			   	    .slider-top__images-rp{
			   	    	position: relative;
			   	    	height: 100%;
			   	    	&:before{
			   	    		content: '';
			   	    		padding-top: 100%;
			   	    		display: block;
			   	    		height: 100vh;
			   	    	}
			   	    	.images{
			   	    		top: 10px;
			   	    		left: 10px;
			   	    		right: 10px;
			   	    		bottom: 10px;
			   	    		height: calc(100% - 20px);
			   	    		width: calc(100% - 20px);
			   	    		&.sp-only{
			   	    			display: block;
			   	    		}
			   	    	}
			   	    }
			   	    .logo{
			   	    	margin-top: 175px;
			   	    	margin-bottom: 75px;
			   	    	display: block;
			   	    	img{
			   	    		width: 110px;
			   	    		display: block;
			   	    		margin: auto;
			   	    	}
			   	    }
		}
	}	

	.indexmodule02{
		.inner{
			.recommend-child {
				width: 100%;
			    background-size: cover;
			    background-position: bottom;
			    padding: 30px 50px 45px;
			    &:nth-child(1){
			    	background-position: center left;
			    }
			}

		}
			.image {
			    img {
			    	max-height: 282px;
			    }
			}
		    .rec-child--content {
		    	margin: auto;
		    	padding: 30px 20px;
		    	width: 100%;
		        .content--left {
			        width: 100%;
			        float: none;
			        text-align: center;
		            padding-right: 0;
			    }
	            &__title{
	                margin-bottom: 22px;
	                img{
	                	height: 8px;
	                }
	            }
		        &__descript {
		        	line-height: 1.5;
		        	font-size: 2rem;
		        	text-overflow: ellipsis;
		        	width: 100%;
		        	-webkit-box-orient: vertical;
		        	overflow: hidden;
		        	-webkit-line-clamp: 1;
		        	display: -webkit-box;
		        	max-height: 29px;
		        }
		        .sale{
		        	display: none;
		        }
		    }
		&__readmore {
	        	padding-top: 10px;
	        	padding-bottom: 10px;
	        	display: block;
	        	background-color: #642200;
	        	color: #fff;
	        	font-size: 1.5rem;
	        	line-height: 0.41;
	        	padding-left: initial;
	        	padding-right: initial;
	        	margin-top: 15px;
            }
	}
	.indexmodule03{
		padding: 60px 0;
		.inmod03-wrapp {
		    padding: 0 20px;
		    display: block;
		}
		.title{
			width: 100%;
			position: relative;
			transform: translate(0,0);
			text-align: center;
			margin-bottom: 45px;
			img{
				max-width: 103px;
			}
		}
		.content {
			width: 100%;
			text-align: left;
			padding: 0;
			p{
				font-size: 1.2rem;
				line-height: 24px;
			}
		    .readmore{
				padding-top: 10px;
				padding-bottom: 10px;
				display: block;
				font-size: 1.5rem;
				line-height: 1.5rem;
				text-align: center;
				margin-top: 30px;
		    }
		}
	}
	.indexmodule04{
		padding: 55px 20px;
	    .comp-main-title {
	    	margin-bottom: 0px;
	    	img{
	    		max-width: 85px;
	    	}
	    }
	    &--comp-post--title {
	    	margin-bottom: 20px;
	    	p{
	    		margin-bottom: 0;
	    		padding-bottom: 10px;
	    		font-size: 1.3rem;
	    		line-height: 1.4;
	    		color: #642200;
	    		border-bottom: 0.5px solid #642200;
	    		
	    	}
	    }
	    &--short-detail {
	        padding-left: 12px;
	        padding-right: 12px;
	    }
		.comp-post-block{
			margin: 0;
			font-size: 1.3rem;
	    	.wrap-item {
		    	width: 100%;
		    	padding: 0;
		    	display: block;
		    	margin-top: 40px;
				
	    	    .item {
	    	        &:not(:last-child){
	    	             margin-bottom: 15px;
	    	        }
	    	    }	    	   
	    	}
	    	&__blog-content {
	    	    .image {
	    	        img {
	    	            &.mobile--only{
	    	            	display: block;
	    	            }
	    	        }
	    	    }
	    	    
	    	}
	    }
        &--short-detail {
            .date{
				font-size: 1.2rem;
				line-height: 0.6;
				margin-bottom: 13px;
				margin-top: 2.5px;
				color: #642200;
            }
            a{
	            font-size: 1.2rem;
	            line-height: 1.4;
            }
        }
	    .readmore {
	    	margin-top: 40px;
	        a{
	        padding-top: 10px;
	        padding-bottom: 10px;
	        display: block;
	        font-size: 1.5rem;
	        line-height: 0.888;
	        text-align: center;
	        	img{
	        		display: inline-block;
	        		vertical-align: middle;
	        	}
	        }
	    }
	}
	
}