@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
*:before, *:after, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-weight: 500;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header__logo img {
  max-width: 250px;
}

.c-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #A8A8A8;
  padding: 20px 0;
  margin-bottom: 27px;
}

.c-gnav li {
  display: inline-block;
  vertical-align: middle;
}

.c-gnav li.is-current a {
  text-shadow: 0 0 .5px #000, 0 0 .5px #000, 0 0 .5px #000;
}

.c-gnav li:last-child a {
  padding-right: 0;
}

.c-gnav a {
  font-size: 1.4rem;
  padding: 0 14px;
  -webkit-transition: text-shadow 0.01s;
  transition: text-shadow 0.01s;
}

.c-gnav a:hover {
  text-shadow: 0 0 .5px #000, 0 0 .5px #000, 0 0 .5px #000;
}

/* Main menu
------------------------------------------------------------*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer__top {
  padding: 6px 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.c-footer__main {
  padding-top: 35px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 38px;
}

.c-footer .c-listSitemap {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-sitemap {
  padding: 0 25px;
}

.c-sitemap:nth-child(1) li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 5px;
  padding-bottom: 4px;
}

.c-sitemap:nth-child(2) li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  display: inline-block;
  padding-right: 4px;
  vertical-align: middle;
  font-weight: 900;
  line-height: 12px;
  margin-bottom: 3.2px;
  font-size: 1rem;
}

.c-sitemap:nth-child(3) .fa {
  font-family: "Font Awesome 5 Free";
  content: "\f0c1";
  display: inline-block;
  padding-right: 4px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 3px;
}

.c-sitemap:nth-child(3) .fa-link:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-sitemap__block {
  width: 300px;
}

.c-sitemap__block li {
  position: relative;
  font-size: 1.4rem;
}

.c-sitemap__block a {
  color: #656565;
}

.c-sitemap__block p {
  padding-bottom: 9px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 7px;
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
}

#footer-copyright {
  padding-top: 17px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 1.2rem;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
  margin-bottom: 40px;
}

.c-breadcrumb--footer {
  margin-bottom: 0px;
}

.c-breadcrumb li {
  color: #676767;
  display: inline;
  position: relative;
  font-size: 1.4rem;
}

.c-breadcrumb li:first-child {
  text-transform: uppercase;
}

.c-breadcrumb li img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.c-breadcrumb a {
  text-decoration: none;
  position: relative;
  font-size: 1.4rem;
  color: #404040;
}

.c-breadcrumb li:not(:first-child):before {
  /* font-family: "Font Awesome 5 Free";
		content: "\f054";
		display: inline-block;
		padding-right: 8px;
		padding-left: 8px;
		vertical-align: middle;
		font-weight: 900;
		font-size: 0.9rem;
		color: #000;
		line-height: 10px; */
}

.c-breadcrumb li:not(:last-child) a:after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #AFAFAF;
  height: 1px;
  left: 0;
  bottom: 0;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  min-width: 1000px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #AFAFAF;
  color: #fff;
  font-weight: bold;
  font-size: 1.511rem;
  height: 50px;
  line-height: 50px;
  padding-left: 54.82px;
  padding-right: 54.82px;
}

.c-btnvmore {
  margin-top: 58px;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-left: 95.5px;
  height: 65px;
  line-height: 65px;
  padding-right: 95.5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.c-btnvmore--bckYellow {
  background-color: #FFD800;
}

.c-btnvmore--bckOrange {
  background-color: #F68E56;
}

.c-btnvmore--bckBlue {
  background-color: #6DCFF6;
}

/*-----------------*/
.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--left {
  text-align: left;
}

.l-btn--full .c-btnvmore {
  display: block;
  width: 100%;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
---------------------INDEX-----------------------*/
.c-title-section {
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.c-title-section > * {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.c-title-section--bckYellow {
  border-top: 1px solid #FFD800;
  border-bottom: 1px solid #FFD800;
  border-left: 7px solid #FFD800;
  border-right: 1px solid #FFD800;
  background-color: #FFF9DA;
}

.c-title-section--bckPink {
  border-top: 1px solid #F68E56;
  border-bottom: 1px solid #F68E56;
  border-left: 7px solid #F68E56;
  border-right: 1px solid #F68E56;
  background-color: #FFF2F2;
}

.c-title-section--bckGray {
  border-top: 1px solid #6DCFF6;
  border-bottom: 1px solid #6DCFF6;
  border-left: 7px solid #6DCFF6;
  border-right: 1px solid #6DCFF6;
  background-color: #EBEBEB;
}

/*----------END-INDEX-----------------------*/
/*----------Start-Link1-----------------------*/
.c-title-link h1, .c-title-link h2, .c-title-link h3, .c-title-link h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 20px;
  padding-bottom: 12px;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 30px;
  color: #222222;
}

/*----------END-Link1-----------------------*/
/*----------Start-Link2-----------------------*/
.c-titletext {
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 10px;
}

.c-titletext i {
  font-size: 20px;
}

.c-titletext h3, .c-titletext h4, .c-titletext h5 {
  margin-left: 8px;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
}

.c-titletext > * {
  display: inline-block;
  vertical-align: middle;
}

.c-titletext--pink > * {
  color: #F5989D;
}

.c-titletext--blue > * {
  color: #11638A;
}

.c-title-sectionLink2 {
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  text-transform: capitalize;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.c-title-sectionLink2 > * {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.c-title-sectionLink2--bckBlue {
  border-left: 7px solid #11638A;
  color: #11638A;
  background-color: #BCD5E1;
}

.c-title-sectionLink2--bckPink {
  border-left: 7px solid #F5989D;
  color: #F5989D;
  background-color: #FFE8E9;
}

/*----------END-Link2-----------------------*/
/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*===============Start-Table=====================*/
.c-tblStyle {
  text-align: center;
}

.c-tblStyle .title {
  background-color: #ECE6E6;
}

.c-tblStyle .title--color1 {
  background-color: #6DCFF6;
}

.c-tblStyle .title--colorgra {
  background-color: #D3D7D9;
}

.c-tblStyle th,
.c-tblStyle td {
  padding: 10px 20.5px;
  vertical-align: middle;
  font-size: 1.4rem;
}

.c-tblStyle th {
  background: #ACD373;
  color: #fff;
  font-weight: bold;
}

.c-tblStyle table, .c-tblStyle th, .c-tblStyle td {
  border: 1px solid #CCCCCC;
  border-spacing: 0;
  border-collapse: collapse;
}

/*===============End-Table=====================*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-category {
  padding: 4px 21.3px;
  display: inline-block;
  font-size: 1.5rem;
}

.c-category span {
  color: #222222;
  display: inline-block;
  font-size: 1.4rem;
}

.c-category--pink {
  background-color: #FFDFDF;
}

.c-category--green {
  background-color: #A3D39C;
}

.c-category--yellow {
  background-color: #FFF799;
}

/*==========index.html=========PADD======*/
.p-home {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.p-home1 {
  padding-top: 40px;
  padding-bottom: 60px;
}

.p-home2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FAFAFA;
}

.p-home3 {
  padding-top: 60px;
  margin-bottom: 115px;
}

.c-wrapper {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*==========Link1.html=========PADD======*/
.p-link1 {
  padding-top: 70px;
  padding-bottom: 0;
  margin: 0;
}

.p-link1--two {
  padding-top: 60px;
}

.c-wrapper4col {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-wrapcaptabl {
  padding-bottom: 50px;
}

.p-wrapcaptabl--two {
  padding-bottom: 108px;
}

/*==========Link2.html============PADD======*/
.p-link2 {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.p-link2--two {
  padding-top: 70px;
}

/*==========================================Phan - Chung===================*/
.c-list__card--text1, .c-list3__text, .c-list4__text {
  padding: 5px 20px;
  font-size: 1.4rem;
  line-height: 20px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}

/*=====Start-List-3column==========*/
.c-list3 {
  padding: 0 25px;
  margin-top: 48px;
}

.c-list3 h1, .c-list3 h2, .c-list3 h3, .c-list3 h4, .c-list3 h5, .c-list3 h6 {
  font-weight: 400;
  letter-spacing: 0.25px;
  font-size: 1.4rem;
  line-heigt: 20px;
}

.c-list3:nth-child(-n + 3) {
  margin-top: 0;
}

.c-list3__card {
  width: 300px;
}

.c-list3__text--bckGreen {
  background-color: #A3D39C;
}

.c-list3__text--bckPink {
  background-color: #FFDFDF;
}

.c-list3__text--bckYellow {
  background-color: #FFF799;
}

.c-list3__img {
  position: relative;
}

.c-list3__img:before {
  content: '';
  padding-top: 61.66%;
  display: block;
}

.c-list3__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*=====End-List-3column==========*/
/*=====Start-Blog-Index==========*/
.c-list2 {
  padding: 0 25px;
  margin-top: 48px;
}

.c-list2:nth-child(-n + 2) {
  margin-top: 0px;
}

.c-list2__card {
  width: 475px;
}

.c-list2__text {
  padding: 5px 20px;
  font-size: 1.4rem;
  line-height: 20px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}

.c-list2__text--bckGreen {
  background-color: #A3D39C;
}

.c-list2__text--bckPink {
  background-color: #FFDFDF;
}

.c-list2 h1, .c-list2 h2, .c-list2 h3, .c-list2 h4, .c-list2 h5, .c-list2 h6 {
  font-weight: 400;
  letter-spacing: 0.35px;
  font-size: 1.4rem;
  line-heigt: 20px;
}

.c-list2__img {
  position: relative;
}

.c-list2__img:before {
  content: '';
  padding-top: 38.94%;
  display: block;
}

.c-list2__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*=====END-Blog-Index=======*/
/*=====================Start-LINK==============*/
.c-list4 {
  padding: 0 10px;
  margin-top: 20px;
}

.c-list4 .c-list4__img {
  position: relative;
}

.c-list4 .c-list4__img:before {
  content: '';
  padding-top: 78.723%;
  display: block;
}

.c-list4 .c-list4__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-list4:nth-child(-n + 4) {
  margin-top: 0px;
}

.c-list4__card {
  width: 235px;
}

.c-list4__text--bckGreen {
  background-color: #A3D39C;
}

.c-list4__text--bckPink {
  background-color: #FFDFDF;
}

.c-list4__text--bckYellow {
  background-color: #FFF799;
}

/*================End-LINK===================*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.font-yugothic {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.indexbanner {
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  background-size: cover;
  position: relative;
  padding-top: 220px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.indexbanner .c-category {
  margin-bottom: 13px;
}

.indexbanner .c-category span {
  font-size: 1.6rem;
  font-weight: bold;
}

.indexbanner .banner-content {
  max-width: 460px;
}

.indexbanner .banner-title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

/*=====Start-News-Index==========*/
.c-list1__card {
  font-size: 0;
}

.p-home1 .c-list1__card {
  display: none;
}

.c-list1 {
  font-size: 0;
}

.c-list1__card > * {
  display: inline-block;
  vertical-align: top;
}

.c-list1__card + .c-list1__card {
  margin-top: 30px;
}

.c-list1__img {
  max-width: 350px;
  position: relative;
}

.c-list1__img .c-category {
  position: absolute;
  top: 0;
  left: 0;
}

.c-list1__info {
  width: calc(100% - 350px);
  padding-left: 40px;
  position: relative;
}

.c-list1__info p {
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 14px;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  height: 95px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.c-list1__info h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.c-list1__btnlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*=====End-News-Index==========*/
.p-home3 .c-btnvmore {
  margin-top: 48px;
}

.p-home2 .c-list3 {
  display: none;
}

.p-home3 .c-list2 {
  display: none;
}

.c-listAnchorlink {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-anchorLink {
  padding: 0 25px;
}

.c-anchorLink__item {
  width: 300px;
  border-radius: 5px;
  background-color: #00AEEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
}

.c-anchorLink a {
  font-size: 1.6rem;
  line-height: 20px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

.c-anchorLink a:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 5px;
  padding-bottom: 4px;
  margin-right: 5px;
  font-size: 1.6rem;
}

.p-link1 .anchlink-descr {
  margin-bottom: 16px;
  font-size: 1.4rem;
}

.p-link1 h3, .p-link1 h4, .p-link1 h5, .p-link1 h6 {
  font-weight: 500;
  font-size: 1.4rem;
}

.p-wrapcaptabl .c-tblStyle {
  margin-top: 14px;
}

.c-captiontable {
  padding: 10px 15px;
  background-color: #ECE6E6;
  margin-bottom: 23px;
}

.c-captiontable h1, .c-captiontable h2, .c-captiontable h3, .c-captiontable h4 {
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 500;
}

.c-titlepage {
  padding: 22px 0;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #000;
  background-color: #6DCFF6;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 3.2rem;
  text-transform: capitalize;
}

.p-link2 {
  /*==========Utilty============*/
}

.p-link2 .c-title-sectionLink2 {
  padding-top: 14px;
  margin-bottom: 23px;
}

.p-link2 p {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #222222;
  line-height: 20px;
}

.p-link2 .u-red {
  color: #C40000;
}

.p-link2 .c-titletext {
  margin-top: 34px;
  margin-bottom: 9px;
}

.p-link2 .c-textNote {
  margin-top: 19px;
  padding: 22px 26px;
  border: 1px solid #11638A;
  border-radius: 5px;
  color: #11638A;
  font-size: 1.5rem;
  letter-spacing: 0.45px;
  line-height: 20px;
}

.p-link2 .c-textNote i {
  font-size: 20px;
}

.p-link2 .c-textNote .fa-quote-left {
  margin-right: 4px;
}

.p-link2 .c-textNote .fa-quote-right {
  margin-left: 4px;
}

.p-link2 .c-textNote--pink {
  border: 1px solid #F5989D;
  color: #F5989D;
}

.p-link2 .c-textCategory__stt, .p-link2 .c-textCategory__itemChild, .p-link2 .c-textCategory__item {
  font-size: 1.5rem;
  line-height: 30px;
  color: #222222;
}

.p-link2 .c-textCategory__stt {
  margin-right: 4px;
  color: #F5989D;
  font-weight: bold;
}

.p-link2 .c-textCategory__itemChild {
  margin-left: 38px;
}

.p-link2 .article-style4 {
  margin-bottom: 125px;
}

.p-link2 .article-style4 .c-textNote {
  margin-bottom: 35px;
}

.p-link2 .article-style4 .c-tblStyle {
  margin-top: 13px;
}

.p-link2 .article-style4 .c-tblStyle table {
  width: 100%;
}

.p-link2 .article-style4 .c-tblStyle .title {
  background-color: #EBEBEB;
  font-size: 1.4rem;
  padding-left: 47px;
  padding-right: 47px;
}

.p-link2 .article-style4 .c-tblStyle td {
  color: #222222;
}

.p-link2 .u-red {
  font-weight: bold;
}

.p-link2 .u-red:before {
  width: 0;
  height: 0;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-mt30 {
  margin-top: 30px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-blue {
  color: #1F53FA;
  font-size: 1.4rem;
  padding-bottom: 0;
  position: relative;
}

.u-blue:before {
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #1f53faa6;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  -webkit-box-shadow: 0px 1px 1px #1f53fa78;
          box-shadow: 0px 1px 1px #1f53fa78;
}

.u-red {
  color: #FF0000;
  font-size: 1.4rem;
  padding-bottom: 0;
  position: relative;
}

.u-red:before {
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #FF0000;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.u-orange {
  color: #FF9C00;
  font-size: 1.4rem;
  padding-bottom: 0;
  position: relative;
}

.u-orange:before {
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #FFD1A3;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  -webkit-box-shadow: 0px 1px 1px #FFE9D4;
          box-shadow: 0px 1px 1px #FFE9D4;
}
