/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	
}
/*===============Start-Table=====================*/
.c-tblStyle{
	text-align: center;
	.title{
		background-color: #ECE6E6;
		&--color1{
			background-color: #6DCFF6;
		}
		&--colorgra{
			background-color: #D3D7D9;
		}
	}
	th,
	td {
	  padding: 10px 20.5px;
	  vertical-align: middle;
	  font-size: 1.4rem;
	}
	th {
	  background: #ACD373;
	  color: #fff;
	  font-weight: bold;
	}
	table, th,td{
		border: 1px solid #CCCCCC;
		border-spacing: 0;
		border-collapse: collapse;
	}
}

/*===============End-Table=====================*/