/*==========================================Phan - Chung===================*/
.c-list__card--text1{
	padding: 5px 20px;
	font-size: 1.4rem;
	line-height: 20px;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
	letter-spacing: 0.6px;
}
/*=====Start-List-3column==========*/
.c-list3 {
    padding: 0 25px;
    margin-top: 48px;
    
    h1, h2, h3, h4, h5, h6{
        font-weight: 400;
        letter-spacing: 0.25px;
        font-size: 1.4rem;
        line-heigt: 20px;
    }
    &:nth-child(-n + 3){
        margin-top: 0;
    }
    &__card {
        width: 300px;
    }
    &__text{
    	@extend .c-list__card--text1;
    	&--bckGreen{
    		background-color: $color-green;
    	}
    	&--bckPink{
    		background-color: $color-pink1; //h
    	}
    	&--bckYellow{
    		background-color: $color-yellow2; //v2
    	}
    }
}
.c-list3__img{
    position: relative;
    &:before{
        content:'';
        padding-top: 61.66%;
        display: block;
    }
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
/*=====End-List-3column==========*/
/*=====Start-Blog-Index==========*/
.c-list2 {
    padding: 0 25px;
    margin-top: 48px;
    
    &:nth-child(-n + 2){
    	margin-top: 0px;
    }
    &__card {
        width: 475px;
    }
    &__text{
    	padding: 5px 20px;
    	font-size: 1.4rem;
    	line-height: 20px;
    	display: inline-block;
    	margin-top: 15px;
    	margin-bottom: 20px;
    	letter-spacing: 0.6px;
    	&--bckGreen{
    		background-color: $color-green;
    	}
    	&--bckPink{
    		background-color: $color-pink1; //h
    	}
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 400;
        letter-spacing: 0.35px;
        font-size: 1.4rem;
        line-heigt: 20px;
    }
}
.c-list2__img{
    position: relative;
    &:before{
        content:'';
        padding-top: 38.94%;
        display: block;
    }
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
/*=====END-Blog-Index=======*/
/*=====================Start-LINK==============*/
.c-list4{
	padding: 0 10px;
	margin-top: 20px;
	.c-list4__img{
		position: relative;
		&:before{
			content:'';
			padding-top: 78.723%;
			display: block;
		}
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&:nth-child(-n + 4){
		margin-top: 0px;
	}
	&__card {
	    width: 235px;
	}
	&__text{
		@extend .c-list__card--text1;
		&--bckGreen{
			background-color: $color-green;
		}
		&--bckPink{
			background-color: $color-pink1; //h
		}
		&--bckYellow{
			background-color: $color-yellow2; //v
		}
	}
}
/*================End-LINK===================*/
