/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-btn1{

}
.main-btn {
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #FCD000;
	background-color: #FCD000;
	color: #000;
	
	padding: 19px 114px;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	-webkit-transition: 0.3s;
	line-height: 20px;
	transition: 0.3s;
	img{
		display: block;
	}
	&.sp-only{
		display: none;
	}
}
@include breakpoint(sp) {
	.main-btn {
		display: flex;
		align-items: center;
		padding: 8px 35px;
		justify-content: center;
		font-size: 1.3rem;
		i{
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			font-size: 1.2rem;
		}
	}
	.main-btn{
		&.pc-only{
			display: none;
		}
		&.sp-only{
			display: block;
		}
	}
}