/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer--top {
    display: flex;
    align-items: stretch;
    padding-top: 40px;
    padding-bottom: 45px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 50px;
    .address-footer{
    	margin-left: 70px;
    	p{
    		font-size: 1.5rem;
    		line-height: 3rem;
    		color: #222222;
    		span{
    			font-size: 1.5rem;
    			line-height: 3rem;
    		}
    	}
    }
}
.c-footer--content{
	display: flex;
}
.footer-nav-col {
    position: relative;
    flex-basis: 255px;
    & > :first-child {
    	margin-top: 0;
	}
	& > a {
	    display: block;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: 700;
	    margin-top: 15px;
	}
	& > ul {
	    margin-top: 20px;
	    > li {
	        margin-top: 8px;
	        position: relative;
	        &:first-child {
	            margin-top: 0;
	        }
	        & > a {
	            position: relative;
	            display: block;
	            padding-left: 15px;
	            line-height: 2.6rem;
	            font-size: 1.3rem;
	        }
	        & i{
				position: absolute;
				left: 0px;
				top: 6px;
				font-size: 1.4rem;
	        }
	    }
	}
}
.c-footer--bottom{
padding-top: 55px;
padding-bottom: 50px;
.base-links{
	ul{
		display: flex;
	}
	li{
		flex-basis: 222px;
		a{
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}
}
#footer-copyright {
    margin-bottom: 0;
    padding: 18px 0;
    letter-spacing: 0;
    text-align: center;
    background-color: #222222;
    span{
    	color: #fff;
    	font-size: 1.2rem;
    	line-height: 2rem;
    }
}
@include breakpoint(sp) {
	.c-footer--top {
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    padding-top: 30px;
	    padding-bottom: 20px;
	    margin-bottom: 0;
	    border: none;
	    .address-footer{ 
	    	margin-left: 0;
	    	text-align: center;
	    	p{
				font-size: 1.3rem;
				line-height: 1.9rem;
				margin-bottom: 7px;
				color: #525252;
				.pc-only{
					display: none !important;
				}
	    	}

	    }
	}
	.logofter{
		margin-bottom: 17px;
		img{
			max-width: 180px;
		}
	}
	.c-footer--content, .c-footer--bottom{
		display: none;
	}
	#footer-copyright {
	    padding: 10px 0;
	}
}