
.menuin{
	.slick-slider{
		.slick-track{
		transform: none !important;
		}
		.slick-list {
		transform: none !important;
		}
	}
}

.slick-slide{
	img{
		&.mobile--only{
			display: none;
		 
		 }
		&.mobile--onlyicon{
			display: none;
		 
		 }
	}
	
}
@media screen and (max-width: 767px)  { 

	.slick-slide{
		img{
			&.mobile--only{
				display: block;
			 
			 }
			&.mobile--onlyicon{
				display: block;
			 
			 }
		}
		
	}
}