.p-contact2{
	margin-bottom: 205px;
	.contact-content{
		width: 780px;
		margin: auto;
	}
	.contact-form {
	    margin-top: 60px;
	}
	.formscontact-btnwrap{
	    background-color: #00ADA0;
	    width: 450px;
	    text-align: center;
	    position: relative;
	    font-size: 1.6rem;
	    color: #fff;
	    -webkit-box-shadow: 4px 4px 0px 0px #000;
	    box-shadow: 4px 4px 0px 0px #000;
	    margin: auto;
	    position: relative;
	    margin-top: 50px;
	    img{
	    	position: absolute;
	    	right: 20px;
	    	top: 50%;
	    	-webkit-transform: translateY(-50%);
	    	transform: translateY(-50%);
	    }
	    input{
	    	border: none;
	    	line-height: 60px;
	    	width: 100%;
	    	background-color: #00ada0;
	    	cursor: pointer;
	    	font-size: 1.6rem;
	    	color:#fff;
	    	font-weight: bold;
	    }
	}
	.contact-title{
		text-align: center;
	}
	h1{
		font-size: 2.4rem;
		font-weight: bold;
		margin-bottom: 38px;
	}
	.contact-descript{
		p{
			font-size: 1.4rem;
			line-height: 28px;
			text-align: left;
		}
	}
	.contact-item {
	    display: flex;
	    justify-content: flex-start;
	    padding-top: 19px;
	    padding-bottom: 19px;
	    border-bottom: 1px solid #c5c5c5;
	    &:nth-child(1){
	    	border-top: 1px solid #c5c5c5;
	    }
	    &__left {
    		width: 250px;
		}
	    &__right{
    		width: calc(100% - 250px);
    		padding-right: 140px;
    		&--padding{
    			padding-right: 0;
    		}
		}
		&__checkbox {
		    font-weight: bold;
		}
		input[type="text"]{
		    height: 45px;
		    box-sizing: border-box;
		    padding-left: 5px;
		    padding-right: 5px;
		}
		.input-howknow{
			width: 440px;
			margin-top: 15px;
		}
		label{
			font-size: 1.6rem;
			font-weight: bold;
		}
		.input-lbl:after {
		    content: "※";
		    font-size: 1.6rem;
		    font-weight: 600;
		    color: #fd0000;
		    text-indent: -2px;
		    margin-left: 3.5px;
		}
		textarea{
			height: 210px;
			padding: 10px;
		}

	}
	input[type="text"], textarea{
		width: 100%;
		background-color: #f2f2f2;
		border: none;
		font-size: 1.4rem;
	}


	.contact-item__right--padding{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.contact-item__checkbox {
	  	margin-right: 20px;
  	    font-weight: bold;
  	    display: flex;
  	    align-items: center;
  	    &:last-child{
  	    	margin-top: 15px;
  	    }
	    span{
	    	margin-left: 5px;
	    	font-size: 1.6rem;
	    }
		input[type=checkbox] {
			margin-right: 5px;
			cursor: pointer;
			font-size: 14px;
			width: 17px;
			height: 17px;
			position: relative;
		}
		input[type=checkbox]:after {
			position: absolute;
			width: 17px;
			height: 17px;
			top: 0;
			content: " ";
			background-color: #fff;
			color: #00ada0;
			display: inline-block;
			visibility: visible;
			padding: 0px 3px;
			border: 1px solid #c2c2c2;
		}
		input[type=checkbox]:checked:after {
		  content: "✓";
		  font-size: 12px;
		  font-weight: 900;
		}
	}
	 .contact-item__checkbox:last-of-type{
		margin-top: 15px;
	}

.contact-item__right--padding{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
}

