.p-accordion {
    width: 400px;
    margin: auto;
    h1{
    	text-align: center;
    	text-transform: uppercase;
    	margin-bottom: 30px;
    }
   
}
.accordion{
	border: 1px solid #2222;
	margin-top: 5px;
	border-top: 0;
	&__content{
		background-color: #2222;
	}
}
.accordion__subtitle {
    text-align: center;
    font-size: 2rem;
    color: blue;
    border: 1px solid blue;
}