.p-tabs{
	text-align: center;
	h1{
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.c-listTabslink{ 
		ul{
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.tab-link {
		    display: inline-block;
		    margin-right: 20px;
		    border-right: 2px solid #2222;
		    padding-right: 20px;
		    cursor: pointer;
		    &.current{
		    	color: blue;
		    }
		}
	}
	.c-listTabcontent{
		margin-top: 30px;
		border: 1px solid #000;
		padding : 20px;
	}
}
