/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top{
	//-------------------------------------------------------
	&1{
		
	}
	//-------------------------------------------------------
	&2{

	}
	//-------------------------------------------------------
	&3{
		
	}
	//-------------------------------------------------------
	&4{
		
	}
}