
.sweetmodule01{
	position: relative;
	.nav-wrap {
	    position: absolute;
	    top: 375px;
	    z-index: 2;
	    left: 50%;
	    transform: translateX(-50%); 
	}
	.logo{
		display: inline-block;
		margin: 0 auto;
		margin-top: 120px;
		max-width: 138px;
	}
	.list-main li{
		display: inline-block;
		font-size: 1.4rem;
		a{
			padding: 0 2.5rem;
			display: inline-block;
		}
		&:nth-child(1){
			a{
				padding-left:0;
			 }
		}
		img{
			vertical-align: middle;
		}
	}
}
	.slider-topsweet {
   	    .slider-item {
   		    position: relative;
   	    }
   	    .nav-menu {
   	        bottom: 120px;
   	        position: absolute;
   	        text-align: center;
   	        left: 50%;
   	        color: #fff;
   	        -webkit-transform: translateX(-50%);
   	        transform: translateX(-50%);
   	        .wrapper-list{
   	        	margin-top: 8rem;
   	        	font-size: 0;
   	        	.list-main, .list-link{
   	        		display: inline-block;
   	        		vertical-align: middle;
   	        	}
   	        	
   	        }
	   	    .list-link .lk-lis--icon {
	   	    	    padding: 0 0.75rem;
	   	    	    display: inline-block;
	   	    	}
	   	    .list-link .lk-lis--icon:nth-child(1) {
	   	    	margin-left: 1.75rem;
	   	    	}
   	    }
        .slide--content{
        	margin: auto;
        	width: 100%;
        	position: absolute;
        	text-align: center;
        	left: 50%;
        	top: 0;
        	color: #fff;
        	transform: translateX(-50%);
   	    }
        &__slide--img{
        	height: 520px;
		    width: 100%;
		    overflow: hidden;
		    position: relative;
		    .images{
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	background-size: cover;
		    	background-position: center center;
		    }
        }
	}	
.sweetmodule02{
	padding-top: 90px ;

	&[class*="item-style0"]{
	    p{
	    	font-size: 1.4rem;
	    }
	}
	.item-style01 {
	    
	    .content {
	        margin-bottom: 70px;  
	    }
	    .swemodu02--descript {
	    	p{
	    		padding-right: 5rem;
	    	}
	    }
	}
	[class *="item-style0"] {
		font-size: 0;
		&>*{
			display: inline-block;
			vertical-align: top;
		}
		.readmore {
		    display: inline-block;
		    background-color: #642200;
		    padding: 13px 70px;
		    line-height: 1rem;
		    color: #fff;
		    font-size: 1.6rem;
		    margin-top: 80px;
		}
		.content{
			width: calc(100% - 30rem);
			img{
				width: 300px;
			}
		}
	}
	.swemodu02--title{
		font-size: 1.6rem;
		color: #642200;
		line-height: 0.888;
		font-weight: bold;
		margin-bottom: 5px;
		text-align: left;
		p{
			letter-spacing: 1.6px;
		    font-weight: 700;
		    padding-bottom: 15px;
		}
	}
	.swemodu02--descript {
		p{
			font-size: 1.37rem;
			line-height: 2;
			color: #000;
			letter-spacing: 0.7px;
		}
	    
	}
	.item-style02 {
	    padding-top: 70px;
	    border-top: 0.1rem solid #CCCCCC;
	    .content {
	        float: right;
	        margin-bottom: 90px;
	        .readmore {
	            float: left;
	        }
	    }
	    .swemodu02--title{
	    	padding-left: 4rem;
	    }
	    .swemodu02--descript {
	        padding-left: 5rem;
	    }
	}
}
.sweetmodule03{
	padding-bottom:90px;
	padding-top: 90px;
	.comp-main-title{
		margin-bottom: 50px;
	}
	.swemod03--content{
		padding: 0 80px;
		
		&--p{
			font-size: 1.4rem;
			line-height: 30px;
			color: #000;
			letter-spacing: 0.4px;
		}
		&--bottom{
			margin-top: 40px;
		}
	}
	.swemod03--title {
		margin-top: 50px;
		font-size: 1.6rem;
		color: #642200;
		padding-bottom: 16px;
		border-bottom: 1px dotted #642200;
		margin-bottom: 15px;
		font-weight: bold;
	}
}
.sweetmodule04{
	padding: 90px 0;
	.swemodu04-wrap {
	    margin: 0 -10px;
	    font-size: 0;
	    .item{
	    	display: inline-block;
	    	vertical-align: top;
	    	padding: 0 10px;
	    	width: 340px;
	    }
	    .item-decor {
	        padding: 35px 19px;
	        border: 1px solid #CCCCCC;
	        
	    }
	    &__img{
    	        text-align: center;
    	        position: relative;
    	        margin-bottom: 35px;
    	        span{
	    	        text-align: center;
	    	        position: absolute;
	    	        left: 50%;
	    	        top: 35%;
	    	        color: #fff;
	    	        font-size: 20px;
	    	        transform: translateX(-50%);
    	        }
	    	}
	    &__title{
	    	font-size: 1.6rem;
	    	color: #642200;
	    	padding-bottom: 20px;
	    	border-bottom: 1px dotted #CCCCCC;
	    	margin-bottom: 20px;
	    	line-height: 1;
	    }
	    &__descript{
    	    color: #000;
    	    p{
    	    	text-overflow: ellipsis;
    	    	width: 100%;
    	    	-webkit-box-orient: vertical;
    	    	overflow: hidden;
    	    	-webkit-line-clamp: 12;
    	    	display: -webkit-box;
    	    	max-height: 330px;
    	    	font-size: 1.37rem;
	    	    line-height: 2;
	    	    color: #000;
	    	    letter-spacing: 0.7px;
    	    }
	    }
	}
	.readmore{
		text-align: center;
		a{
			display: inline-block;
		    background-color: #642200;
		    padding: 1.2rem 7rem;
		    line-height: 1rem;
		    color: #fff;
		    font-size: 1.6rem;
		    margin-top: 50px;
		}
	}
}
@media screen and (max-width: 767px)  { 
	.all{
		width: 100%;
	}
	.sweetmodule01{
		.logo{
			max-width : 110px;
			margin-top: 117.5px;
		}
		.slider-item{
			
		}
		.slider-topsweet{
	        &__slide--img{
	        	height: 100vmin;
	        }
	    }
	    .nav-wrap {
	        margin: 0;
	        position: fixed;
	        top: 0;
	        left: 0;
	        height: 100vh;
	        width: 100%;
	        z-index: 2;
	        display: none;
	        background-color: #F9F4F0;
	        -webkit-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
	        transform: none;
	    }
		
	}
	.sweetmodule02, .sweetmodule03, .sweetmodule04{
		padding: 60px 20px;
	}
	.sweetmodule02{ 
		& [class *="item-style0"]{
			padding-top: 30px;
			display: flex;
			flex-direction: column-reverse;
			margin-top: 30px;
			.image {
			    width: 100%;
			    text-align: center;
			    padding: 0 92.5px;
			}
			.content {
			    width: 100%;
			    margin-top: 25px;
			    margin-bottom:0;
			    
			    .readmore {
			        margin-top: 30px;
			        display: block;
			        text-align: center;
			        float: none;
			    }
			}
			.swemodu02--title{
			    line-height: 1.5;
			    padding-left: 0;
			    p{
			        font-size: 1.5rem;
			        letter-spacing: 0.5px;
			        padding-bottom: 5px;
			    }

			}
			.swemodu02--descript {
				padding-left: 0;
				p{
			    	padding-right: 0;
			    	padding-left: 0;
			    	font-size: 1.2rem;
			    	line-height: 1.9;
			    }
			}
		}
		.item-style01 {
		    padding-top: 40px;
		    margin-top: 0;
		}
		.mr-bot50{
	        	margin-bottom: 0px;
	    }
	}
	.sweetmodule03{
		background-color:#FAFAFA;
		.mr-bot50 {
		    margin-bottom: 45px;
		}
		.comp-main-title{
			img{
				max-width: 141px;
			}
		}
		.swemod03--title {
			letter-spacing: 0.1px;
			margin-top: 30px;
			font-size: 1.5rem;
		}
		.mr-bot50 {
		    margin-bottom: 45px;
		}
		.swemod03--content {
		    padding: 0px;
		    &--p{
		    	font-size: 1.2rem;
		    	line-height: 1.9;
		    }
		    &--bottom{
		    	margin-top: 35px;
		    }
		}
	}

	.sweetmodule04{
		.mr-bot50 {
		    margin-bottom: 45px;
		}
		.comp-main-title{
			img{
				max-width: 105px;
			}
		}
		.swemodu04-wrap__title {
		    padding-bottom: 15px;
		    margin-bottom: 15px;
		}
		.swemodu04-wrap {
		    .item{
		    	width: 100%;
		    	& + .item{
		    		margin-top: 25px;
		    	}
		    }
		}
		.item-decor {
		    .img {
		    	margin-bottom: 35px;
		        span{
		        	font-weight: 700;
		        	font-size: 40px;
		        }
		    }
		    .content img{
		    	width: 100%;
		    }
		    .title{
		    	padding-bottom: 15px;
		    	margin-bottom: 15px;
		    	line-height: 1.6;
		    }
		}
		.readmore{
			a{
				margin-top: 30px;
				font-size: 1.5rem;
				padding: 11.5px 0;
				display: block;
			}
		}
	}


} 
